{% load static %}
<!DOCTYPE html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Naowal Siripatana">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 


    <!-- Custom & Default Styles -->
	<link href="{% static "css/bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}"  rel="stylesheet">
    <link href="{% static "css/carousel.css" %}"  rel="stylesheet">
    <link href="{% static "css/animate.css" %}"  rel="stylesheet">
    <link href="{% static "style.css" %}"  rel="stylesheet">
    <!-- link href="{% static "css/base.css" %}" rel="stylesheet"> -->

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>


    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="{% static "images/loader.gif" %}" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->


    <div id="wrapper">

            <header class="header">
                <div class="topbar clearfix">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="col-md-6 col-sm-6 text-left">
                                <p>
                                    <strong><i class="fa fa-phone"></i></strong> +6683 6545315 &nbsp;&nbsp;
                                    <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">loong.wissawakorn@gmail.com</a>
                                </p>
                            </div><!-- end left -->
                            <div class="col-md-6 col-sm-6 hidden-xs text-right">
                                <div class="social">
                                    <a class="facebook" href="https://www.facebook.com/UncleEngineer/" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                </div><!-- end social -->
                            </div><!-- end left -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div><!-- end topbar -->
    
                <div class="container">
                    <nav class="navbar navbar-default yamm">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo-normal">
                                <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}"  alt=""></a>
                            </div>
                        </div>
    
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">หน้าแรก</a></li>
                                <li><a href="{% url "student_registration" %}">สมัครสมาชิก</a></li>
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url "logout" %}">ออกจากระบบ</a></li>
                                {% else %}
                                    <li><a href="{% url "login" %}">เข้าสู่ระบบ</a></li>
                                {% endif %}
                                <li><a href="https://www.uncle-engineer-book.com">ร้านหนังสือ</a></li>
                            </ul>
                        </div>
                    </nav><!-- end navbar -->
                </div><!-- end container -->
            </header>
    
            <section id="home" class="video-section js-height-full" style="height: 607px;">
                    <div class="overlay"></div>
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                            <source src="{% static "upload/preview.mp4" %}" type="video/mp4">
                    </video>
                    <div class="home-text-wrapper relative container">
                            <div class="home-message">
                                <p>Uncle Engineer Lab</p>
                                <small>แหล่งกบดานทางความรู้ รวบรวมคอร์สเรียนมากมาย สอนโดย ลุงวิศวกร สอนคำนวณ</small>
                                <div class="btn-wrapper">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-primary wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">ดูคอร์สเรียน</a> 
                                    </div>
                                </div><!-- end row -->
                            </div>
                        </div>
                <div class="slider-bottom">
                        <span>เพิ่มเติม<i class="fa fa-angle-down"></i></span>
                    </div>
                    </div>
            </section>
    
            {% block content %}
            {% endblock %}
    
            <section class="section">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>ความคิดเห็นของนักเรียน</h3>
                        <p></p>
                    </div><!-- end title -->
    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box testimonial">
                                <p class="testiname"><strong><img src="{% static "upload/testimonial_01.png" %}" alt="" class="img-circle"> </strong></p>
                                <p></p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!-- end testimonial -->
                        </div><!-- end col -->
    
                        <div class="col-md-4">
                            <div class="box testimonial">
                                <p class="testiname"><strong><img src="{% static "upload/testimonial_02.png" %}" alt="" class="img-circle"> </strong></p>
                                <p></p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div><!-- end testimonial -->
                        </div><!-- end col -->
    
                        <div class="col-md-4">
                            <div class="box testimonial">
                                <p class="testiname"><strong><img src="{% static "upload/testimonial_03.png" %}" alt="" class="img-circle"></strong></p>
                                <p></p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div><!-- end testimonial -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
    
            <section class="section bgcolor1">
                <div class="container">
                    <a href="#">
                    <div class="row callout">
                        <div class="col-md-4 text-center">
                            <h3><sup></sup>500บาท</h3>
                            <h4>ราคาที่คุณจับต้องได้!</h4>
                        </div><!-- end col -->
    
                        <div class="col-md-8">
                            <p class="lead">ด่วนจำนวนจำกัด! เข้าคอร์สเรียนได้ไม่จำกัด พร้อมติดต่อครูผู้สอนได้ทุกเวลา </p>
                        </div>
                    </div><!-- end row -->
                    </a>
                </div><!-- end container -->  
            </section>

            <section class="section db p120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tagline-message text-center">
                                <h3>ก้าวไปทุกวันอย่างช้าๆไม่หยุดนิ่ง ซักวันจะถึงเป้าหมายที่วางไว้</h3>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section><!-- end section -->
    
            <div class="copyrights">
                <div class="container">
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="cop-logo">
                                <a href="#"><img src="{% static "images/logo.png" %}" alt=""></a>
                            </div>
                        </div>
    
                        <div class="pull-right">
                            <div class="footer-links">
                                <ul class="list-inline">
                                    <li>Developed by : <a href="www.naowal.com">Naowal Siripatana</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copy -->
        </div><!-- end wrapper -->

    <!-- jQuery Files -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/carousel.js" %}"></script>
    <script src="{% static "js/animate.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="{% static "js/videobg.js" %}"></script>
    
</body>
</html>