{% extends "base.html" %}

{% block title %}
    {% if object %}
        แก้ไขคอร์สเรียน "{{ object.title }}"
    {% else %}
        สร้างคอร์สเรียนใหม่
    {% endif %}
{% endblock %}


{% block content %}
<section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3>จัดการคอร์สเรียน</h3>
                            <ul class="breadcrumb">
                                <li><a href="javascript:void(0)">คอร์สเรียนของฉัน</a></li>
                                <li class="active">จัดการคอร์สเรียน</li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

<section class="section gb nopadtop">
            <div class="container">
                <div class="boxed boxedp4">

<h1>
    {% if object %}
        แก้ไขคอร์สเรียน "{{ object.title }}"
    {% else %}
        สร้างคอร์สเรียนใหม่
    {% endif %}
</h1>
<div class="module">
<h2>ข้อมูลคอร์สเรียน</h2>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
<p><input type="submit" value="บันทึกคอร์สเรียน"></p>
</form>
</div>
                </div><!-- end container -->
            </div>
        </section>
{% endblock %}
